// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Roboto+Mono&display=swap');

@font-face {
    font-family: 'PP Writer';
    font-weight: 500;
    src: url(../../assets/fonts/PPWriter-Regular.otf);
}

@font-face {
    font-family: 'PP Writer';
    font-weight: 400;
    src: url(../../assets/fonts/PPWriter-RegularText.otf);
}

@font-face {
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    src: url(../../assets/fonts/PPRadioGrotesk-Regular.otf);
}