$rem-font-size: 10px;

$font-color-base: #484343;
$font-color-base-bright: #767070;
$font-color-sub-warm: #E34D18;
$font-color-sub-cold: #477C4E;
$font-color-sec-warm: #DDBA41;
$font-color-sec-cold: #0E519D;

$bg-color: #f4f1de;
$bg-color-light-transparent: rgba(244, 241, 222, 0.5);
$bg-color-transparent: rgba(72, 67, 67, 0.25);
$bg-color-active-card: rgba(255, 255, 255, 0.3);
$bg-color-chosen-card: rgba(255, 255, 255, 0.6);

$font-accident-header: 400 24px/35px 'PP Writer', serif;
$font-accident-logo: 500 40px/55.6px 'PP Writer', serif;
$font-accident-footer: 400 16px/24px 'PP Writer', serif;
$font-accident-motto: 500 64px/90.5px 'PP Writer', serif;
$font-accident-button: 400 20px/30px 'PP Writer', serif;
$font-accident-bird: 400 20px/30px 'PP Writer', serif;
$font-accident-bird-latin: 400 16px/24px 'PP Writer', serif;
$font-accident-score: 400 32px/44px 'PP Writer', serif;
$font-accident-popup-title: 400 36px/50px 'PP Writer', serif;
$font-accident-popup-subtitle: 400 20px/28px 'PP Writer', serif;

$font-base-gameline: 400 16px/19px 'PP Radio Grotesk', sans-serif;
$font-base-birdlist: 400 16px/19px 'PP Radio Grotesk', sans-serif;
$font-base-placeholder: 400 20px/24px 'PP Radio Grotesk', sans-serif;
$font-base-bird-desc: 400 16px/19px 'PP Radio Grotesk', sans-serif;
$font-base-player: 300 14px/17px 'Azeret Mono', sans-serif;

$font-motto-999: 500 46px/70px 'PP Writer', serif;
$font-motto-672: 500 32px/48px 'PP Writer', serif;
$font-motto-468: 500 22px/33px 'PP Writer', serif;
$font-latin-small: 400 12px/18px 'PP Writer', serif;