.accent-word-warm {
  color: $font-color-sub-warm;
}

.accent-word-cold {
  color: $font-color-sub-cold;
}

.accent-word-sec-warm {
  color: $font-color-sec-warm;
}

.accent-word-sec-cold {
  color: $font-color-sec-cold;
}